@import "../../../styles/scss/utils/variables";
@import "../../../styles/scss/utils/mixins";

.gallery-cards-container {
  @include column-flex-j-center-a-center;
  margin: 20px;
  flex-wrap: wrap;
  gap: 4px;
  @media screen and (min-width: 900px) {
    @include flex-j-center-a-center;
  }
}

.gallery-card-wrapper {
  width: 80%;
  border-radius: 20px;

  .gallery-img {
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    border-radius: 20px;
  }

  @media screen and (min-width: 900px) {
    width: 30%;
    height: 450px;
  }
}

.gallery-card-wrapper:hover {
  z-index: 1;
  cursor: zoom-in;
  img:hover {
    transform: scale(1.05);
    border-radius: 20px;
    -webkit-box-shadow: 5px 5px 31px 5px #000000;
    box-shadow: 5px 5px 31px 5px #000000;
  }
}

.gallery-card-wrapper.not-higlighted {
  filter: blur(5px);
}
