.location-main-container {
  @include flex-j-center-a-center;
  width: 100%;
  > * {
    width: 80%;
    height: 450px;
  }
  @media screen and (min-width: 480px) {
    > * {
      height: 500px;
    }
  }
}
